---
import proyectos from '../../projects.json'
const { translateLabels } = Astro.props;

---

<section class="projects__section" id="projects">
  <article class="center-alignment container padding-section">
    <h2 class="section-title text-lg-center">{translateLabels('projects.title')}</h2>
    <div class="container projects__container">
      {
        proyectos.map((proyecto) =>(
          <figure class="center-alignment project__card">
            <img src={proyecto.img} alt={proyecto.titulo}>
            <figcaption class="project__card-content">
              <h4 class="project__card-title">{proyecto.titulo}</h4>
              <article class="center-alignment card__content">
                <aside class="project__card-tech">
                {
                  proyecto.stack.map((tech) => {
                    return(
                      <img class="tech-icon" src={tech} alt="">
                    )
                  })
                }
              </aside>
              <div class="project__card-buttons">
                {
                  proyecto.codigo &&(
                    <a href={proyecto.codigo} target="_blank" rel="noopener noreferrer" title="code"><img src="/logos/github.png" alt="github icon" class="button-icon"></a>
                  )
                }
                <a href={proyecto.enlace} target="_blank" rel="noopener noreferrer" title="website" ><img src="/logos/website.png" alt="website icon" class="button-icon"></a>
              </div>
              </article>
            </figcaption>
          </figure>
        ))
      }
    </div>
  </article>
</section>

<style>
  .projects__section{
    scroll-margin-top: 100px;
  }

  .projects__section .container{
    gap: 2rem;
  }

  .projects__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    width: 100%;
    place-content: center;
  }

  .project__card{
    border-radius: 10px;
  }

  .project__card img{
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .project__card .project__card-content{
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Onest Variable', sans-serif;
  }

  .card__content{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
  }
  .project__card-tech{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

   .project__card .project__card-content .tech-icon{
    width: 2rem;
    height: 2rem;
  }
  .project__card-buttons{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 1rem;
  }

  .project__card-buttons a {
    width: 2rem;
    height: 2rem;
  }

  .project__card-buttons a .button-icon{
    width: 2rem;
    height: 2rem;
  }


  @media (width >= 1100px){
    .project__card:hover{
      transform: translateY(-10px);
      box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.6);
      transition: all 500ms ease-in-out;
    }
  }

</style>